@import "base/normalize";
@import "base/variables";
@import "base/globales";

body {
  font-family: $fuentePrincipal;
}

h1 {
  font-family: $fuentePrincipal;
  color: $rosa;
}

p {
  font-family: $fuentePrincipal;
}
